<ion-view>
  <ion-content class="has-header intuu-bg">
    <div class="padding" style="text-align: center; margin-top: 40px;">
    	<h2 class="intuu-color">Conéctate para una experiencia personalizada</h2>
    	<p style="margin-top:20px;">Si inicias sesión podremos generar recorridos más cercanos a tus gustos específicos. Para saber qué tipo de información solicitaremos<br>puedes ver nuestra <a href>política de privacidad</a></p>

    	<a href="#/app/login" style="color: white; margin-top: 40px; width: 200px" class="button intuu-gradient">
    	Iniciar sesión
		</a>
    </div>
  </ion-content>
</ion-view>
