<form ua-login>
  <ion-view>
    <ion-content class="intuu-bg">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" name="login">
        </label>
        <label class="item item-input">
          <span class="input-label">Clave</span>
          <input type="password" name="password">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block intuu-gradient white">
          <span ng-show="!loading">Iniciar sesión</span>
          <i ng-show="loading" class="ion-loading-b"></i>
        </button>
        <!--p class="text-center">
          <a href="#/forgot-password">Forgot password?</a>
        </p-->
        <p class="text-center">
          <a href="#/app/signup">Registrarse</a>
          <!-- <a href="#/">Cancelar</a> -->
        </p>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>