<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-slide-box class="intuu-backdrop">
      <ion-slide class="page-full" style="background: url('img/cover.jpg');">
          <!-- title -->
          <div class="row">
            <div class="col" style="text-align: center;">
              <img alt="Intuu" src="img/intu_logo_285x85.png">
              <h3 class="intuu-color-light">Valparaíso</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h5>
              <h5 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h5>
              <h5 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h5>
            </div>
            <div class="col">
              &nbsp;
            </div>
            
            <div class="col">
                <h6 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h6>
                <h6 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h6>
                <h6 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h6>
            </div>
          </div>
          <div class="row row-bottom">
            <div class="col">
              <h4 class="intuu-color-light">Especial</h4>
              <h1 class="intuu-color">Artistas Callejeros</h1>
            </div>
          </div>
      </ion-slide>


      <ion-slide class="page-full">
        <div style="width: 100%;">
          Índice
        </div>
      </ion-slide>
      <ion-slide class="page-full">Local 1</ion-slide>
      <ion-slide class="page-full">Local 2</ion-slide>
      <ion-slide class="page-full">Local 3</ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>
