<ion-view title="Browse">

  <ion-content class="has-header">
    <ion-slide-box class="intuu-backdrop page-full">
      <ion-slide style="background: url('img/cover.jpg');">
          <!-- title -->
          <div class="row">
            <div class="col" style="text-align: center;">
              <img alt="Intuu" src="img/intuu.png">
              <h3 class="intuu-color-light">Valparaíso</h3>
            </div>
          </div>
          
          <div class="row intuu-gravity-bottom">
            <div class="col">
              <h5 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h5>
              <h5 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h5>
              <h5 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h5>
            </div>
            <div class="col">
              &nbsp;
            </div>
            
            <div class="col">
                <h6 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h6>
                <h6 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h6>
                <h6 class="intuu-color-light"><i class="icon ion-camera"></i>&nbsp;Café Brighton</h6>
            </div>
          </div>
          
          <div class="row row-bottom intuu-gravity-bottom-most">
            <div class="col">
              <h3 class="intuu-color">Especial</h3>
              <h1 class="intuu-color-light intuu-gradient padding">Artistas Callejeros</h1>
            </div>
          </div>

      </ion-slide>


      <ion-slide>
        Índice
      </ion-slide>
      
      <ion-slide>
        (ni idea)

      </ion-slide>

      <ion-slide>Local 1</ion-slide>
      <ion-slide>Local 2</ion-slide>
      <ion-slide>Local 3</ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>
