<ion-view>

  <ion-content class="has-header">
    <ion-slide-box class="intuu-backdrop">
      <ion-slide class="fix-border" style="margin-left: -1px; background: url('img/cover.jpg') no-repeat center center fixed;background-size: cover;">
          <!-- title -->
          <div class="row" style="width: 321px;">
            <div class="col title-box">
              <h1 class="white intuu-gradient">Valparaíso</h1>
            </div>
          </div>
          
          <div class="row">
            <div class="col content-box">
              <h2 class="white intuu-gradient">Descubre los cafés del cerro</h2>
            </div>
          </div>
      </ion-slide>


      <ion-slide class="intuu-bg">
        <div class="row">
          <div class="intuu-thumb"><div class="number-box title-box intuu-gradient white">1</div><img src="img/magazine/1.jpg"></div>
        </div>
        <div class="row">
          <div class="intuu-thumb"><div class="number-box title-box intuu-gradient white">2</div><img src="img/magazine/2.jpg"></div>
        </div>
        <div class="row">
          <div class="intuu-thumb"><div class="number-box title-box intuu-gradient white">3</div><img src="img/magazine/3.jpg"></div>
        </div>
        <div class="row">
          <div class="intuu-thumb"><div class="number-box title-box intuu-gradient white">4</div><img src="img/magazine/4.jpg"></div>
        </div>
        <div class="row">
          <div class="intuu-thumb"><div class="number-box title-box intuu-gradient white">5</div><img src="img/magazine/5.jpg"></div>
        </div>
        <div class="row">
          <div class="intuu-thumb"><div class="number-box title-box intuu-gradient white">6</div><img src="img/magazine/6.jpg"></div>
        </div>
      </ion-slide>

      <ion-slide class="intuu-bg">
        <div class="">
          <div class="intuu-header" style="background: url('img/magazine/1.jpg') center top no-repeat;"></div>
        </div>
        <div class="row">
          <h2 class="intuu-color">Hotel Brighton</h2>
        </div>
        <div class="row">
          <p style="text-align: justify">Bonito, todo me parece bonito. Bonita mañana, bonito lugar, bonita la cama, qué bien se ve el mar, bonito es el día y acaba de empezar, bonita la vida. Respira, respira, respira.</p>
        </div>
        <div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=310x345&maptype=roadmap&markers=color:red%7Clabel:A%7C-33.042835,-71.625353&sensor=false">
        </div>
      </ion-slide>

      <ion-slide class="intuu-bg">
        <div class="">
          <div class="intuu-header" style="background: url('img/magazine/2.jpg') center top no-repeat;"></div>
        </div>
        <div class="row">
          <h2 class="intuu-color">Resto - El Don Criollo</h2>
        </div>
        <div class="row">
          <p style="text-align: justify">El teléfono suena, mi pana se queja, la cosa va mal, la vida le pesa, que vivir así ya no le interesa, que seguir así no vale la pena, se perdió el amor, se acabó la fiesta, ya no anda el motor que empuja la tierra, la vida es un chiste con triste final, el futuro no existe pero yo le digo..</p>
        </div>
        <div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=310x310&maptype=roadmap&markers=color:red%7Clabel:A%7C-33.0398312,-71.6263009&sensor=false">
        </div>
      </ion-slide>

      <ion-slide class="intuu-bg">
        <div class="">
          <div class="intuu-header" style="background: url('img/magazine/3.jpg') center top no-repeat;"></div>
        </div>
        <div class="row">
          <h2 class="intuu-color">Restaurante Bote Salvavidas</h2>
        </div>
        <div class="row">
          <p style="text-align: justify">Bonita la paz, bonita la vida, bonito volver a nacer cada día, bonita la verdad cuando no suena a mentira, bonita la amistad, bonita la risa, bonita la gente cuando hay calidad, bonita la gente que no se arrepiente, que gana y que pierde, que habla y no miente, bonita la gente por eso yo digo...</p>
        </div>
        <div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=310x345&maptype=roadmap&markers=color:red%7Clabel:A%7C-33.0402022,-71.6211653&sensor=false">
        </div>
      </ion-slide>

      <ion-slide class="intuu-bg">
        <div class="">
          <div class="intuu-header" style="background: url('img/magazine/4.jpg') center top no-repeat;"></div>
        </div>
        <div class="row">
          <h2 class="intuu-color">Sabor Color</h2>
        </div>
        <div class="row">
          <p style="text-align: justify">Bonito, todo me parece bonito. La mar la mañana, la casa, la sombra, la tierra, la paz y la vida que pasa. Bonito, todo me parece bonito. Tu calma, tu salsa, la mancha en la espalda, tu cara, tus ganas el fin de semana</p>
        </div>
        <div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=310x345&maptype=roadmap&markers=color:red%7Clabel:A%7C-33.0398312,-71.6263009&sensor=false">
        </div>
      </ion-slide>

      <ion-slide class="intuu-bg">
        <div class="">
          <div class="intuu-header" style="background: url('img/magazine/5.jpg') center top no-repeat;"></div>
        </div>
        <div class="row">
          <h2 class="intuu-color">Cafetería</h2>
        </div>
        <div class="row">
          <p style="text-align: justify">Bonita la gente que viene y que va, bonita la gente que no se detiene, bonita la gente que no tiene edad, que escucha, que entiende, que tiene y que da.</p>
        </div>
        <div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=310x345&maptype=roadmap&markers=color:red%7Clabel:A%7C-33.042835,-71.625353&sensor=false">
        </div>
      </ion-slide>

      <ion-slide class="intuu-bg">
        <div class="">
          <div class="intuu-header" style="background: url('img/magazine/6.jpg') center top no-repeat;"></div>
        </div>
        <div class="row">
          <h2 class="intuu-color">Calfulafquen Bar</h2>
        </div>
        <div class="row">
          <p style="text-align: justify">Bonito Portet, bonito Peret, bonita la rumba, bonito José, bonita la brisa que no tiene prisa, bonito este día, respira, respira. Bonita la gente cuando es de verdad. Bonita la gente que es diferente, Que tiembla, que siente, Que vive el presente, bonita la gente que estuvo y no está.</p>
        </div>
        <div>
          <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=310x345&maptype=roadmap&markers=color:red%7Clabel:A%7C-33.0398312,-71.6263009&sensor=false">
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>
