<ion-view>
  <ion-content class="has-header intuu-bg">
    <div class="padding" style="text-align: center; margin-top: 40px;">
    	<h2 class="intuu-color">Responde nuestro breve cuestionario</h2>
    	<p style="margin-top:20px;">A Continuación te realizaremos un puñado de preguntas que no tomarán más de cinco minutos.</p>
    	<p style="margin-top:20px;">Esto ayudará a nuestro algoritmo para generar recorridos de paseo a tu medida.</p>

    	<a href="#/app/cuestionario/2" style="color: white; margin-top: 40px; width: 200px" class="button intuu-gradient">
    	OK, ADELANTE
		</a>
		<a href="#/app/cuestionario" style="color: white; margin-top: 20px; width: 200px" class="button intuu-gradient">
    	EN OTRO MOMENTO
		</a>
    </div>
  </ion-content>
</ion-view>
