<ion-view>
  <ion-content class="has-header intuu-bg">
    <div class="padding" style="text-align: center; margin-top: 40px;">
    	<h2 class="intuu-color">¿Con quién vienes en este viaje?</h2>

    	<a href="#/app/cuestionario/3" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Viajo solo</a>
        <a href="#/app/cuestionario/3" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Con un amigo</a>
        <a href="#/app/cuestionario/3" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Con muchos amigos</a>
        <a href="#/app/cuestionario/3" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Con mi pareja</a>
        <a href="#/app/cuestionario/3" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Con mi familia</a>
    </div>
  </ion-content>
</ion-view>
