<ion-view>
  <ion-content class="has-header intuu-bg">
    <div class="padding" style="text-align: center; margin-top: 40px;">
    	<h2 class="intuu-color">¿Hay niños en tu grupo?</h2>

    	<a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">No</a>
        <a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Sí, uno</a>
        <a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Sí, muchos</a>
    </div>
  </ion-content>
</ion-view>
