<ion-view>
  <ion-content class="has-header intuu-bg">
    <div class="padding" style="text-align: center; margin-top: 40px;">
    	<h2 class="intuu-color">¿A qué lugar se dirige?</h2>

        <a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">La Serena</a>
        <a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Valparaíso</a>
    	<a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Valdivia</a>
        <a href="#/app/magazine" style="color: white; margin-top: 10px; width: 200px" class="button intuu-gradient">Puerto Montt</a>
    </div>
  </ion-content>
</ion-view>
