/* Empty. Add your own CSS if you like */

.intuu-logo { /* No creo que se utilice pq el logo es una imagen */
	background: #a83b64;
	background: -moz-linear-gradient(-45deg,  #a83b64 0%, #575d96 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a83b64), color-stop(100%,#575d96));
	background: -webkit-linear-gradient(-45deg,  #a83b64 0%,#575d96 100%);
	background: -o-linear-gradient(-45deg,  #a83b64 0%,#575d96 100%);
	background: -ms-linear-gradient(-45deg,  #a83b64 0%,#575d96 100%);
	background: linear-gradient(135deg,  #a83b64 0%,#575d96 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a83b64', endColorstr='#575d96',GradientType=1 );
}

.logo-dim {
	margin-top: 3px;
	width: 77px;
	height: 23px;
}

.intuu-gradient {
	background: #892250;
	background: -moz-linear-gradient(-45deg,  #892250 0%, #aa2f40 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#892250), color-stop(100%,#aa2f40));
	background: -webkit-linear-gradient(-45deg,  #892250 0%,#aa2f40 100%);
	background: -o-linear-gradient(-45deg,  #892250 0%,#aa2f40 100%);
	background: -ms-linear-gradient(-45deg,  #892250 0%,#aa2f40 100%);
	background: linear-gradient(135deg,  #892250 0%,#aa2f40 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#892250', endColorstr='#aa2f40',GradientType=1 );
}

.intuu-bg {
 background-color: #e2d8d4;
}

h1.intuu-color, h2.intuu-color, h3.intuu-color {
	color: #ba2e44;
}

h1.intuu-color-light, h2.intuu-color-light, h3.intuu-color-light,
h4.intuu-color-light, h5.intuu-color-light, h6.intuu-color-light {
	color: #ededed;
}

* {
	font-family: 'Helvetica' !important;
}

h1, h2, h3 {
	font-family: 'Roboto' !important;
}


i.intuu-color {
	color: #a6a6a6;
}

.page-full {
	width: 100%;
	height: 760px;
}

.intuu-backdrop {
	background: url('../img/intuu_small.png') 50% 50% repeat;
}

/* We had no choice... */
.intuu-gravity-bottom {
	bottom: 150px;
	position: absolute;
}

.intuu-gravity-bottom-most {
	position: absolute;
	bottom: 25px;
}


.mapa-intuu {
    background: url('../img/mapa_off.png') no-repeat !important; /* God, forgive me */
    height: 33px;
    width: 33px;
}
.mapa-intuu:hover,
.mapa-intuu:active,
.mapa-intuu:focus {
    background: url('../img/mapa_on.png');
}

.buscar-intuu {
    background: url('../img/search_off.png') no-repeat !important; /* God, forgive me */
    height: 33px;
    width: 33px;
}

.buscar-intuu:hover,
.buscar-intuu:active,
.buscar-intuu:focus {
    background: url('../img/search_on.png');
}

.menu-intuu {
    background: url('../img/menu_off.png') no-repeat !important; /* God, forgive me */
    height: 33px;
    width: 33px;
}
.menu-intuu:hover,
.menu-intuu:active,
.menu-intuu:focus {
    background: url('../img/menu_on.png');
}

button.mapa-intuu, button.buscar-intuu {
	margin-right: 4px;
}

/* Cambios a pedido del Leo */
.padding {
	padding: 10px 30px;
}

.button {
	 border-width: 0;
	 line-height: 45px;
	 font-size: 14px;
}

h2 {
	font-size: 28px;
}

.white {
	color: white;
}

.title-box {
	text-align: right;
	margin-top: 10px;
	margin-left: -10px;
}

.title-box > h1 {
	width: 250px;
	margin: 0;
	padding: 6px 20px;
}

.content-box {
	margin: 280px 0px 12px 32px;
}

.content-box > h2 {
	width: 280px;
	margin: 0;
	padding: 6px 30px 6px 20px;
}
/* /fin */


.slider-pager {
	bottom: 4px;
}

.fix-border {
	width: 321px !important;
}
